# ref: <https://github.com/github/gitignore/blob/main/Node.gitignore>

# Globally Useful gitignores
*.log
*.log.*

# Coverage directory
coverage/
*.lcov

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.*
!.env.example
!.env.vault

# build / generate output
dist/

# Test Results
junit.xml

# Cloudflare Workers
.dev.vars
.wrangler/
worker-configuration.d.ts
